<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUDTodo</title>
    <style>
      .done {
        opacity: 0.3;
        text-decoration: line-through;
      }
    </style>
  </head> 
  <body>
    <div id="app">
      <h1>{{ state.title }}</h1>
      <input v-model="state.newMsg" @keyup.enter="addTodo" autofocus />
      <ul>
        <li v-for="todo in state.todos" :class="{done: todo.completed}" :key="todo.id">
          <input type="checkbox" v-model="todo.completed" />
          {{ todo.msg }}
          <button @click="deleteTodo(todo)">X</button>
        </li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        setup() {
          const state = Vue.reactive({
            title: 'CRUD Todo',
            newMsg: '',
            todos: [],
          })
          const addTodo = () => {
            if (!state.newMsg) return
            state.todos.push({
              id: (new Date()).getTime(),
              completed: false,
              msg: state.newMsg,
            })
            state.newMsg = ''
          }
          const deleteTodo = (todoObj) => {
            const delIndex = state.todos.indexOf(todoObj)
            state.todos.splice(delIndex, 1)
          }
          return { state, addTodo, deleteTodo }
        },
      }).mount('#app')
    </script>
  </body>
</html>
