<!DOCTYPE html>
<html lang="ja" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUDTodo</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.0-alpha.2/tailwind.min.css"
      integrity="sha512-NfPS/OTotUyEFCm5WZ13U5U6o9PNYOe2CghiZzs3yyniMckFS06Y9Cmn3texE1THZ1tzm2OYjUG0I7hdJfAwpA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      .done {
        opacity: 0.3;
        text-decoration: line-through;
      }
      .edit {
        display: none;
      }
      .editing .edit {
        display: inline;
      }
      .error {
        color: #900;
        font-weight: bold;
        font-size: 0.8em;
        margin-left: 10px;
      }
    </style>
  </head>
  <body class="h-full">
    <div id="app" class="py-40 bg-gray-100">
      <div class="max-w-2xl mx-auto">
        <div class="px-4 sm:px-0">
          <h3 class="text-base font-semibold leading-7 text-gray-900">
            {{ state.title }}
          </h3>
          <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">
            Build a Todo List App with VueJS
          </p>
        </div>
        <div class="mt-6 border-t border-gray-100">
          <dl class="divide-y divide-gray-100">
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <div
                class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md"
              >
                <span
                  class="flex select-none items-center pl-3 text-gray-500 sm:text-sm"
                  >Todo</span
                >
                <input
                  v-model="state.newMsg"
                  @keyup.enter="addTodo"
                  autofocus
                  class="block flex-1 bg-transparent p-4 border text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                  placeholder="Todo Message"
                />
              </div>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm font-medium leading-6 text-gray-900">
                Application for
              </dt>
              <dd
                class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
              >
                Backend Developer
              </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm font-medium leading-6 text-gray-900">
                Email address
              </dt>
              <dd
                class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
              >
                margotfoster@example.com
              </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm font-medium leading-6 text-gray-900">
                Salary expectation
              </dt>
              <dd
                class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
              >
                $120,000
              </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm font-medium leading-6 text-gray-900">About</dt>
              <dd
                class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
              >
                Fugiat ipsum ipsum deserunt culpa aute sint do nostrud anim
                incididunt cillum culpa consequat. Excepteur qui ipsum aliquip
                consequat sint. Sit id mollit nulla mollit nostrud in ea officia
                proident. Irure nostrud pariatur mollit ad adipisicing
                reprehenderit deserunt qui eu.
              </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm font-medium leading-6 text-gray-900">
                Attachments
              </dt>
              <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                <ul
                  role="list"
                  class="divide-y divide-gray-100 rounded-md border border-gray-200"
                >
                  <li
                    class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6"
                  >
                    <div class="flex w-0 flex-1 items-center">
                      <svg
                        class="h-5 w-5 flex-shrink-0 text-gray-400"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                          clip-rule="evenodd"
                        />
                      </svg>
                      <div class="ml-4 flex min-w-0 flex-1 gap-2">
                        <span class="truncate font-medium"
                          >resume_back_end_developer.pdf</span
                        >
                        <span class="flex-shrink-0 text-gray-400">2.4mb</span>
                      </div>
                    </div>
                    <div class="ml-4 flex-shrink-0">
                      <a
                        href="#"
                        class="font-medium text-indigo-600 hover:text-indigo-500"
                        >Download</a
                      >
                    </div>
                  </li>
                  <li
                    class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6"
                  >
                    <div class="flex w-0 flex-1 items-center">
                      <svg
                        class="h-5 w-5 flex-shrink-0 text-gray-400"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                          clip-rule="evenodd"
                        />
                      </svg>
                      <div class="ml-4 flex min-w-0 flex-1 gap-2">
                        <span class="truncate font-medium"
                          >coverletter_back_end_developer.pdf</span
                        >
                        <span class="flex-shrink-0 text-gray-400">4.5mb</span>
                      </div>
                    </div>
                    <div class="ml-4 flex-shrink-0">
                      <a
                        href="#"
                        class="font-medium text-indigo-600 hover:text-indigo-500"
                        >Download</a
                      >
                    </div>
                  </li>
                </ul>
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <!-- ここから↓既存のアプリケーション機能 -->
      <span class="error" v-if="state.error">{{ state.errorMessage }}</span>
      <ul>
        <li
          v-for="todo in state.todos"
          :class="{done: todo.completed, editing: todo === state.editObj}"
          :key="todo.id"
        >
          <input type="checkbox" v-model="todo.completed" />
          <label @dblclick="editTodo(todo)"> {{ todo.msg }} </label>&nbsp;
          <input
            class="edit"
            v-model="state.editMsg"
            @keyup.enter="updateTodo(todo)"
          />&nbsp;
          <button @click="deleteTodo(todo)">X</button>
        </li>
      </ul>
      <div v-if="existsTodo()">
        登録件数&nbsp;<strong>{{ todoCount() }}</strong>個
      </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        setup() {
          const state = Vue.reactive({
            title: 'CRUD Todo',
            newMsg: '',
            todos: [],
            editObj: null,
            editMsg: '',
            error: false,
            errorMessage: '※ 値を入力してください',
          })
          Vue.onMounted(() => {
            getTodos()
          })
          const addTodo = () => {
            if (!state.newMsg) {
              state.error = true
              return
            }
            state.todos.push({
              id: new Date().getTime(),
              completed: false,
              msg: state.newMsg,
            })
            state.newMsg = ''
            state.error = false
            addTodos()
          }
          const editTodo = (todoObj) => {
            state.editObj = todoObj // 1件分のオブジェクトを代入
            state.editMsg = todoObj.msg // 1件分のタイトルを代入
          }
          const updateTodo = (todoObj) => {
            todoObj.msg = state.editMsg
            state.editObj = null
            state.editMsg = ''
            addTodos()
          }
          const deleteTodo = (todoObj) => {
            const delIndex = state.todos.indexOf(todoObj)
            state.todos.splice(delIndex, 1)
            addTodos()
          }
          const addTodos = () => {
            localStorage.setItem('todos', JSON.stringify(state.todos))
          }
          const getTodos = () => {
            const todos = localStorage.getItem('todos')
            if (todos) {
              state.todos = JSON.parse(todos)
            }
          }
          const existsTodo = () => {
            return state.todos.length > 0
          }
          const todoCount = () => {
            return state.todos.length.toString()
          }
          return {
            state,
            addTodo,
            editTodo,
            updateTodo,
            deleteTodo,
            existsTodo,
            todoCount,
          }
        },
      }).mount('#app')
    </script>
  </body>
</html>
